<div class="detail">

  <div class="row">

    <div class="col-md-12 detail-layout">

      <div class="row detail-title">
        <h4><%= event.eventName %></h4>
      </div>

      <div class="row">

        <div class="col-md-4 detail-img">
          <img src="<%= event.imageURL %>" />
        </div>

        <div class="col-md-8 detail-content-layout">

          <div class="row">
            <div class="col-md-12 detail-content-first">
              <p><%= event.fullDesc %></p>
            </div>
          </div>

          <div class="row">
            <div class="col-md-12 detail-content">
              <p><b>Organizer:</b> <%= event.organizer %></p>
            </div>
          </div>

          <div class="row">
            <div class="col-md-12 detail-content">
              <p><b>Date:</b> <%= event.eventDate %></p>
            </div>
          </div>

          <div class="row">
            <div class="col-md-12 detail-content">
              <p><b>Time:</b> <%= event.time %></p>
            </div>
          </div>

          <div class="row">
            <div class="col-md-12 detail-content">
              <p><b>Venue:</b> <%= event.venue %></p>
            </div>
          </div>

          <div class="row">
            <div class="col-md-12 detail-content-last">
              <p><b>Quota:</b> <%= event.quota %></p>
            </div>
          </div>

          <br>

          <div class="row">
            <div class="col-md-12">
              <a href="/update/<%= event.id %>"><button class="btn btn-primary">Update</button></a>
            </div>
          </div>

        </div>

      </div>

    </div>

  </div>

</div>

<style>

  .detail{
    margin-top: 3%;
  }

  .detail-layout{
    border: 2px solid #e8ecef;
    border-radius: 5px;
  }

  .detail-title{
    margin: 1.5% 0px 0px 0.2%;
  }

  .detail-img{
    margin: 0px 0px 2% 0px;
  }

  .detail-img img{
    width: 100%;
    height: 514px;
  }

  .detail-content-layout{
    padding-right: 30px;
  }

  .detail-content{
    border-right: 2px solid #e8ecef;
    border-bottom: 2px solid #e8ecef;
    border-left: 2px solid #e8ecef;
  }

  .detail-content-first{
    border: 2px solid #e8ecef;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
  }

  .detail-content-last{
    border-right: 2px solid #e8ecef;
    border-bottom: 2px solid #e8ecef;
    border-left: 2px solid #e8ecef;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
  }

  .detail-content p{
    margin: 0px;
    padding: 1%;
  }

  .detail-content-first p{
    margin: 0px;
    padding: 1%;
  }

  .detail-content-last p{
    margin: 0px;
    padding: 1%;
  }

  .detail-content-first p{
    word-wrap: break-word;
  }

</style>
